*{
    font-size: auto;
    font-family: 'Lobster','Prompt', cursive,sans-serif;
    padding: 0;
    margin: 0;
    z-index: 0;
}
a{
    text-decoration: none;
    color: limegreen;
    padding: 10px;
}
.crown{
    padding-left: 7%;
    padding-right: 7%;

    color: white;
    background-color: limegreen;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    z-index: 621;
    filter: drop-shadow(2px 2px 4px #5f533a);


}
#crownLogo{
    align-items: center;
    display: flex;
    justify-content: left;
    position: relative;
    right: 5%;
}
#crownPages{
    filter: drop-shadow(10px 5px 4px #5a554b);
    width: 40%;
    padding-left: 10%;
    display: flex;
    align-items: center;
}

#spacing{
    padding-left: 3%;
    padding-right: 3%;
    transition: ease 0.5s;
}
#spacing:hover{
    color: orange;
    transform: scale(1.4);
}

#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 10px;
    border: 2px solid white;
    border-color: white;
    transition: ease 0.5s;
    user-select: none;
}
#login:hover{
    background-color: orange;
    transform: scale(1.1);
    display: block;
}
.loginForm{
    color: white;
    width: 30%;
    height: 60%;
    backdrop-filter: blur(30px);
    border-radius: 15px;
    border:5px solid orange ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease 0.5s;
    position: fixed;
    left: 35%;
    top: 20%;
    transform: scale(0);
}
.loginForm.show{
    color: white;
    width: 30%;
    height: 60%;
    backdrop-filter: blur(30px);
    border-radius: 15px;
    border:5px solid orange ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease 0.5s;
    position: fixed;
    left: 35%;
    top: 20%;
    transform: scale(1);
}
.regForm{
    color: white;
    width: 30%;
    height: 70%;
    backdrop-filter: blur(30px);
    border-radius: 15px;
    border:5px solid orange ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease 0.5s;
    position: fixed;
    left: 35%;
    top: 15%;
    transform: scale(0);
}
.regForm.show{
    color: white;
    width: 30%;
    height: 70%;
    backdrop-filter: blur(30px);
    border-radius: 15px;
    border:5px solid orange ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease 0.5s;
    position: fixed;
    left: 35%;
    top: 15%;
    transform: scale(1);
}
input[type=text] {
    height: 40px;
    width: 70%;
    margin: 30px;
    border: none;
    border-bottom: 2px solid rgb(255, 183, 0);
    border-radius: 10px;
    backdrop-filter: blur(55px);
    background: none;
    opacity: 70%;
    font-size: 20px;
}
input[type=email] {
    height: 40px;
    width: 70%;
    margin: 30px;
    border: none;
    border-bottom: 2px solid rgb(255, 183, 0);
    border-radius: 10px;
    backdrop-filter: blur(55px);
    background: none;
    opacity: 70%;
    font-size: 20px;
}
input[type=submit]{
    font-size: 30px;
    border-radius: 15px;
    background: none;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    transition: ease 0.5s;
}
input[type=submit]:hover{
    font-size: 30px;
    border-radius: 15px;
    background: none;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    color: limegreen;
    border-color: limegreen;
    transform: scale(1.2);
}
input[type=checkbox]{
    margin: 5px;
    border-color: black;
    border-radius: 15px;
    transition: 0.5s;
}
input[type=checkbox]:hover{
    margin: 5px;
    border-color: limegreen;
    border-radius: 15px;
    transform: scale(1.2);
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
::placeholder{
    color: white;
    font-size: 20px;
}

.headBanner{
    font-size: 200%;
    justify-content: center;
    align-items: center;
    padding: 10%;
    display: flex;
    flex-direction: row;
    color: white;
    background-image: url("../public/images/smartfarm.jpg");
    background-size: 100%;
    filter: brightness(75%),contrast(2000%),;
}
h1{
    align-self: center;
    filter: drop-shadow(5px 2px 2px #5a554b);
}
h2{
    align-self: center;
    filter: drop-shadow(5px 2px 2px #5a554b);
}
h4{
    color: rgb(201, 201, 201);
    padding: 10px;
    filter: drop-shadow(5px 2px 2px #5a554b);
}
.anno{
    background:linear-gradient(270deg,limegreen,orange);
}
#pointer {
    filter: drop-shadow(5px 2px 2px #5a554b);

    width: 400px;
    height: 4vw;
    position: relative;
    background: limegreen;
    align-items: center;
    justify-items: center;
    color: white;
}
#pointer:before {
    content: "";
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 2vw solid limegreen;
    border-top: 2vw solid transparent;
    border-bottom: 2vw solid transparent;
}
#ORpointer {
    width: 350px;
    height: 4vw;
    position: relative;
    background: orange;
    align-items: center;
    justify-items: center;
    color: white;
}
#ORpointer:before {
    content: "";
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 2vw solid orange;
    border-top: 2vw solid transparent;
    border-bottom: 2vw solid transparent;
}
.space{
    padding-top: 100vw;
    padding-bottom: 100vw;
}
#center{
    align-self: center;
    justify-self: center;
    position: relative;
    left: 100px;
    top: 5px;
}
#what{
    background-image: url("public/images/mainie.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}
.pager{
    height:150px;
    width: 300px;
    border-radius: 10px;
    border-color: #252525;
    border-width: 1px;
    filter: drop-shadow(0px 0px 4px #252525);
}
.stuff{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
#topics{
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.copyright{
    display: flex;
    background: black;
    color: gray;
    justify-content: center;
    padding: 10px;
}
.items{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#thumb{
    height: 150px;
    width: 250px;
    border-radius: 10px;
    border-color: #252525;
    border-width: 1px;
    filter: drop-shadow(0px 0px 4px #252525);
}
#buybut{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background-color: orange;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    transition: ease-out 1s;
}
#buybut:hover{
    transform: scale(1.2);
}
#center2{
    align-self: center;
    justify-self: center;

}