*{
    font-size: auto;
    font-family: 'Lobster','Prompt', cursive,sans-serif;
    padding: 0;
    margin: 0;
    z-index: 0;
}
.crown{
    padding-left: 7%;
    padding-right: 7%;

    color: white;
    background-color: limegreen;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    z-index: 621;

}
#crownLogo{
    align-items: center;
    display: flex;
    justify-content: left;
    position: relative;
    right: 5%;
}
#crownPages{
    filter: drop-shadow(10px 5px 4px #5a554b);
    width: 40%;
    padding-left: 20%;
    display: flex;
    align-items: center;
}
#spacing{
    padding-left: 3%;
    padding-right: 3%;
}
.headBanner{
    font-size: 200%;
    justify-content: center;
    align-items: center;
    padding: 10%;
    display: flex;
    flex-direction: row;
    color: white;
    background-image: url("../public/images/smartfarm.jpg");
    background-size: 100%;
    filter: brightness(75%),contrast(2000%),;
}
h1{
    filter: drop-shadow(10px 5px 4px #5a554b);
}
.anno{
    background:linear-gradient(270deg,limegreen,orange);
}
#pointer {
    width: 400px;
    height: 4vw;
    position: relative;
    background: limegreen;
    align-items: center;
    justify-items: center;
    color: white;
}
#pointer:before {
    content: "";
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 2vw solid limegreen;
    border-top: 2vw solid transparent;
    border-bottom: 2vw solid transparent;
}
#ORpointer {
    width: 350px;
    height: 4vw;
    position: relative;
    background: orange;
    align-items: center;
    justify-items: center;
    color: white;
}
#ORpointer:before {
    content: "";
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 2vw solid orange;
    border-top: 2vw solid transparent;
    border-bottom: 2vw solid transparent;
}
.space{
    padding-top: 100vw;
    padding-bottom: 100vw;
}
#center{
    align-self: center;
    justify-self: center;
    position: relative;
    left: 100px;
    top: 5px;
}
#what{
    background-image: url("public/images/mainie.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}
.pager{
    height:150px;
    width: 300px;
    border-radius: 10px;
    border-color: #252525;
    border-width: 1px;
    filter: drop-shadow(0px 0px 4px #252525);
}
.stuff{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#topics{
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.copyright{
    display: flex;
    background: black;
    color: gray;
    justify-content: center;
    padding: 10px;
}